.center{
    border-radius: calc(var(--outer-space) - var(--barrier));
    padding: var(--outer-space); 
    background-color: var(--light-blue);
    padding: 0px;

    position: relative;
    height: 500px;
}

.titles{
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

@keyframes flash-red {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: rgba(255, 0, 0, 1);
    }   
}

.flash-red {
    animation: flash-red 0s alternate infinite ease-in-out;
}

canvas {
    width: calc(100% + 1px);
    height: calc(100% + 1px);

    border-radius: calc(var(--outer-space) - var(--barrier));
}