@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--foreground);
  background-color: var(--background);
}

.header {
  /* transform: rotateY(30deg) rotateZ(-5deg); */
}

.header:hover {
  /* transform: rotateY(10deg) rotateZ(-5deg); */

}