:root{
    --outer-space: 50px;
    --barrier: 10px;
    --blue: #246EB9;
    --light-blue: #FDFFFC;
}

@keyframes colorChange {
    0% {
        background-color: var(--blue);
    }
    100% {
        background-color: var(--light-blue);
    }
}

body {
    animation: colorChange 2s alternate infinite ease-in;
    margin: var(--outer-space);
    
    color: var(--blue);
    border: solid var(--blue);
    border-width: var(--barrier);
    border-radius: var(--outer-space);
}

.center{
    border-radius: calc(var(--outer-space) - var(--barrier));
    padding: var(--outer-space); 
    background-color: var(--light-blue);

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    justify-content: center;
    align-items:center;
}

.titles {
    text-align: center;
    font-family: Arial;

    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    font-size: 50px;
    margin: auto;
    text-align: center;
}

.subtitle {
    font-size: 25px;
    margin: auto;
    text-align: center;
}

.blurb {
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;

}

@keyframes wiggle {
    0% { transform: skew(1deg, 1deg); } 
    100% { transform: skew(-1deg, -1deg); } 
 } 
.buttons {
    animation: wiggle 0.5s infinite alternate ease-in-out;
    background-color: var(--light-blue);
    border-style: solid;
    border-color: var(--blue);
    border-width: calc(var(--barrier) / 2);
    border-radius: var(--outer-space);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 50px;
    padding: 50px;
    width:fit-content;
}


.option {
    width: 150px;
    height: 150px;
}

button {
    background-color: var(--blue);
    color: var(--light-blue);
    font-size:100%;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

button:hover,
button:focus,
button:active {
    background-color: var(--light-blue);
    color: var(--blue);
    border: solid var(--blue) ;
}

button:hover,
button:focus{
    border-width: calc(var(--barrier) / 3);
}
button:active{
    border-width: calc(var(--barrier) / 2);
}