@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #2F2F2A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F0D48C
  }
}

section {
  color: #99D277;
  background-color: #2F2F2A;
}