html,
body {
  height: calc(100% - var(--outer-space) - var(--barrier));
}

.center {
  height: calc(100% - 2 * var(--outer-space));
}

.center > * {
  /* margin-top: 0px; */
  margin-bottom: 0px;
  margin-top: 0px;
}
.center > *:nth-child(1) {
  margin-top: auto;
}

:root {
  --sheep-width: 200px;
}

@keyframes fly-across {
  0% {
    left: -20%;
    transform: scaleX(-1) rotate(30deg);
  }
  100% {
    left: 100%;
    transform: scaleX(-1) rotate(-30deg);
  }
}
@keyframes fly-up-down {
  0% {
    top: 50%;
  }
  100% {
    top: 5%;
  }
}

.sheep {
  position: absolute;
  top: 50%;
  left: -20%;
  width: 20%;
  height: 20%;

  background-image: url(./sheep.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  animation: fly-across 9s linear infinite normal none,
    fly-up-down 4.5s ease-out infinite alternate none;
  filter: blur();
}
.sheep.d1 {
    animation-delay: 3s;
}
.sheep.d2 {
    animation-delay: 6s;
}